{% extends 'base.html' %}

{% block content %}


    {% load static %}
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <img src="{% static 'Mac.jpg' %}" alt="">
          <h1 class="jumbotron-heading">Yannoo</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
            {% for portfolio in portfolios.all %}
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src="{{ portfolio.image.url }}" alt=" Card image cap">
                  <div class="card-body">
                    <h4>{{ portfolio.title }}</h4>
                    <p class="card-text">{{ portfolio.description }}</p>
                  </div>
                </div>
              </div>
          {% endfor %}
          </div>
        </div>
      </div>
            
            
        
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>




{% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
